/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(./fonts/Roboto/Roboto-Black.ttf);
  font-style: normal;
  color: #FFFFFF;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  color: #FFFFFF;
}
.monserratFont, .footerLogoArticle, .footerGrid .footerPartners, .footerGrid .footerCompanyArticle, .footerGrid .footerCompany, .search .input button, .search h1, .holiday h1, .partners button, .partnersAvatarsSmallItem .name1,
.partnersAvatarsSmallItem .name2,
.partnersAvatarsSmallItem .name3,
.partnersAvatarsSmallItem .name4, .partnersAvatarsItem .name1,
.partnersAvatarsItem .name2,
.partnersAvatarsItem .name3,
.partnersAvatarsItem .name4, .partners h1, .step .steps .step1Title,
.step .steps .step2Title,
.step .steps .step3Title, .step .steps .step1p,
.step .steps .step2p,
.step .steps .step3p, .step h1, .headerFind, .header h1, .headerTop .signup, .headerTop .login, .headerTop .dreamshare {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #FFFFFF;
}

.robotoFont, .search .input input, .search p, .partnersAvatarsSmallItem .description1,
.partnersAvatarsSmallItem .description2,
.partnersAvatarsSmallItem .description3,
.partnersAvatarsSmallItem .description4, .partnersAvatarsItem .description1,
.partnersAvatarsItem .description2,
.partnersAvatarsItem .description3,
.partnersAvatarsItem .description4, .step .steps .step1Description,
.step .steps .step2Description,
.step .steps .step3Description, .headerDescription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F7F3F2;
}

.header {
  width: 1440px;
  height: 700px;
  background-image: url(../images/Background.png);
}
.headerTop {
  padding-top: 40px;
  padding-left: 249px;
}
.headerTop .dreamshare {
  text-transform: uppercase;
}
.headerTop .login {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 594px;
}
.headerTop .signup {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  color: #FFFFFF;
  margin-left: 17px;
  width: 88px;
  height: 35px;
  background-color: transparent;
}
.header h1 {
  width: 470px;
  height: 7px;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  margin: 148px auto;
  text-transform: uppercase;
}
.headerDescription {
  width: 396px;
  height: 25px;
  margin: 0 auto;
}
.headerFind {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  margin: 33px 610px;
  font-size: 14px;
  line-height: 17px;
}

.step {
  width: 940px;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 90px auto;
}
.step h1 {
  width: 342px;
  height: 32px;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}
.step .steps {
  display: flex;
  flex-direction: row;
  width: 940px;
  height: 400px;
  justify-content: space-between;
}
.step .steps .step1,
.step .steps .step2,
.step .steps .step3 {
  margin-top: 35px;
  height: 400px;
  width: 300px;
}
.step .steps .step1 {
  background-image: url(../images/Step\ 1\ image.png);
}
.step .steps .step2 {
  background-image: url(../images/Step\ 1\ image\ \(1\).png);
}
.step .steps .step3 {
  background-image: url(../images/Step\ 1\ image\ \(2\).png);
}
.step .steps .step1p,
.step .steps .step2p,
.step .steps .step3p {
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 2px;
  text-transform: uppercase;
}
.step .steps .step1p,
.step .steps .step3p {
  margin: 218px 0px 18px 25px;
}
.step .steps .step2p {
  margin: 249px 0px 18px 25px;
}
.step .steps .step1Title,
.step .steps .step2Title,
.step .steps .step3Title {
  width: 250px;
  height: 58px;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 4px auto;
}
.step .steps .step2Title {
  height: 41px;
}
.step .steps .step1Description,
.step .steps .step2Description,
.step .steps .step3Description {
  width: 250px;
  height: 57px;
  font-size: 15px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 18px auto;
}
.step .steps .step2Description {
  margin: 0px auto;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 941px;
  height: 371px;
}
.partners h1 {
  width: 491px;
  height: 32px;
  font-size: 27px;
  line-height: 32px;
  color: #444444;
  margin: 4px auto 35px;
}
.partnersAvatars {
  display: grid;
  grid-template-columns: 221px 221px 221px 211px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  grid-template-rows: 205px;
  width: 100%;
  height: 205px;
  margin: 0 auto;
}
.partnersAvatarsItem {
  width: 221px;
  height: 100%;
}
.partnersAvatarsItem img {
  margin-left: 50px;
}
.partnersAvatarsItem .name1,
.partnersAvatarsItem .name2,
.partnersAvatarsItem .name3,
.partnersAvatarsItem .name4 {
  width: 221px;
  height: 18px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  margin: 15px 0 10px 55px;
}
.partnersAvatarsItem .name3 {
  margin: 15px 0 30px 67px;
}
.partnersAvatarsItem .name4 {
  margin: 7px 0 18px 43px;
}
.partnersAvatarsItem .description1,
.partnersAvatarsItem .description2,
.partnersAvatarsItem .description3,
.partnersAvatarsItem .description4 {
  width: 221px;
  height: 38px;
  font-size: 15px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #666666;
}
.partnersAvatarsItem .description4 {
  margin-left: 30px;
}
.partnersAvatarsSmall {
  display: none;
  grid-template-columns: 221px 221px 221px 211px;
  -moz-column-gap: 19px;
       column-gap: 19px;
  grid-template-rows: 205px;
  width: 100%;
  height: 205px;
  margin: 0 auto;
}
.partnersAvatarsSmallItem {
  width: 221px;
  height: 100%;
}
.partnersAvatarsSmallItem img {
  margin-left: 50px;
}
.partnersAvatarsSmallItem .name1,
.partnersAvatarsSmallItem .name2,
.partnersAvatarsSmallItem .name3,
.partnersAvatarsSmallItem .name4 {
  width: 221px;
  height: 18px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  margin: 15px 0 10px 55px;
}
.partnersAvatarsSmallItem .name3 {
  margin: 15px 0 30px 67px;
}
.partnersAvatarsSmallItem .name4 {
  margin: 7px 0 18px 43px;
}
.partnersAvatarsSmallItem .description1,
.partnersAvatarsSmallItem .description2,
.partnersAvatarsSmallItem .description3,
.partnersAvatarsSmallItem .description4 {
  width: 221px;
  height: 38px;
  font-size: 15px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #666666;
}
.partnersAvatarsSmallItem .description4 {
  margin-left: 30px;
}
.partners button {
  width: 180px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  color: #FF4E50;
}

.holiday {
  width: 940px;
  height: 1031px;
  margin: 90px auto 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.holiday h1 {
  width: 418px;
  height: 32px;
  font-size: 28px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 35px;
}
.holidayIdeas {
  display: flex;
  flex-wrap: wrap;
  gap: 19px 20px;
}
.holidayIdeas .holidayActivityDescription, .holidayIdeas .holidayIdea7, .holidayIdeas .holidayIdea6, .holidayIdeas .holidayIdea5, .holidayIdeas .holidayIdea4, .holidayIdeas .holidayIdea3, .holidayIdeas .holidayIdea2, .holidayIdeas .holidayIdea1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.holidayIdeas .holidayIdea1 {
  background-image: url(../images/Object.png);
  width: 300px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea1 p {
  margin-left: 46px;
}
.holidayIdeas .holidayIdea2 {
  background-image: url(../images/Object\ \(1\).png);
  width: 300px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea2 p {
  margin-left: 40px;
}
.holidayIdeas .holidayIdea3 {
  background-image: url(../images/Object\ \(2\).png);
  width: 300px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea3 p {
  margin-left: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
}
.holidayIdeas .holidayIdea4 {
  background-image: url(../images/Object\ \(3\).png);
  width: 300px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea4 p {
  margin: 0 auto;
}
.holidayIdeas .holidayIdea5 {
  background-image: url(../images/Object\ \(4\).png);
  width: 620px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea5 p {
  margin: 0 auto;
}
.holidayIdeas .holidayIdea6 {
  background-image: url(../images/Object\ \(5\).png);
  width: 620px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea6 p {
  margin: 0 auto;
}
.holidayIdeas .holidayIdea7 {
  background-image: url(../images/Object\ \(6\).png);
  width: 300px;
  height: 310px;
  mix-blend-mode: normal;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.holidayIdeas .holidayIdea7 p {
  margin: 0 auto;
}

.search {
  width: 482px;
  height: 167px;
  margin: 95px auto;
}
.search h1 {
  width: 357px;
  height: 32px;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  margin: 0 auto 50px;
}
.search p {
  margin: 0 0 15px 103px;
  width: 415px;
  height: 24px;
  font-size: 19px;
  line-height: 14px;
  color: #666666;
}
.search .input {
  width: 482px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.search .input input {
  width: 287px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #999999;
}
.search .input button {
  width: 172.12px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

hr {
  width: 100%;
  height: 2px;
  background: #FF4E50;
}

.footer {
  width: 1440px;
  height: 224px;
  margin: 35px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footerGrid {
  display: grid;
  grid-template-columns: 205px 153px 228px 198px;
  grid-template-rows: 200px;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.footerGrid .footerTitle {
  width: 119px;
  height: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  text-transform: uppercase;
  padding-left: 49px;
}
.footerGrid .footerCompany {
  width: 70px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  padding-top: 2px;
}
.footerGrid .footerCompanyArticle {
  width: 70px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-bottom: 11px;
}
.footerGrid .footerCompanyItems {
  width: 114px;
  height: 156px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.footerGrid .footerPartners {
  width: 64px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  padding-top: 2px;
}
.footerLogoArticle {
  width: 83px;
  height: 12px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
  padding-left: 70px;
  padding-top: 2px;
}
.footerLogo img {
  padding-top: 7px;
  padding-left: 38px;
}

@media screen and (max-width: 800px) {
  .header {
    width: 768px;
    height: 700px;
    background-image: url(../images/Background.png);
  }
  .headerTop {
    padding-top: 45px;
    padding-left: 48px;
  }
  .headerTop .dreamshare {
    text-transform: uppercase;
  }
  .headerTop .login {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 364px;
  }
  .headerTop .signup {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    margin-left: 17px;
    width: 88px;
    height: 35px;
    background-color: transparent;
    margin-top: -4px;
  }
  .header h1 {
    width: 470px;
    height: 7px;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    margin: 146px auto 148px;
    text-transform: uppercase;
  }
  .headerDescription {
    width: 396px;
    height: 25px;
    margin: 0 auto;
  }
  .headerFind {
    width: 225px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    margin: 33px 272px;
    font-size: 14px;
    line-height: 17px;
  }
  .step {
    width: 748px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 90px auto;
  }
  .step h1 {
    width: 342px;
    height: 32px;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    padding-left: 54px;
  }
  .step .steps {
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 400px;
    justify-content: space-around;
  }
  .step .steps .step1,
.step .steps .step2,
.step .steps .step3 {
    margin-top: 35px;
    width: 236px;
    height: 400px;
  }
  .step .steps .step1 {
    background-image: url(../images/Step\ 1\ image.png);
  }
  .step .steps .step2 {
    background-image: url(../images/Step\ 1\ image\ \(1\).png);
  }
  .step .steps .step3 {
    background-image: url(../images/Step\ 1\ image\ \(2\).png);
  }
  .step .steps .step1p,
.step .steps .step2p,
.step .steps .step3p {
    width: 70px;
    height: 20px;
    background: #FF4E50;
    border-radius: 40px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 2px;
    text-transform: uppercase;
  }
  .step .steps .step1p,
.step .steps .step3p {
    margin: 204px 0px 18px 20px;
  }
  .step .steps .step2p {
    margin: 254px 0px 0px 20px;
  }
  .step .steps .step1Title,
.step .steps .step2Title,
.step .steps .step3Title {
    width: 196px;
    height: 55px;
    font-size: 24px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 4px auto;
    padding-top: 22px;
  }
  .step .steps .step2Title {
    height: 41px;
    font-size: 26px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 4px auto 10px;
    padding-top: 12px;
  }
  .step .steps .step1Description,
.step .steps .step2Description,
.step .steps .step3Description {
    width: 196px;
    height: 57px;
    font-size: 15px;
    line-height: 14px;
    color: #E3E3E3;
    margin: 0px auto;
  }
  .step .steps .step2Description {
    margin: 0px auto;
  }
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 492px;
    height: 615px;
  }
  .partners h1 {
    width: 491px;
    height: 32px;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin: 4px auto 35px 38px;
  }
  .partnersAvatars {
    display: none;
    grid-template-columns: 221px 221px;
    -moz-column-gap: 34px;
         column-gap: 34px;
    row-gap: 53px;
    grid-template-rows: 205px;
    width: 100%;
    height: 205px;
    margin: 0 auto 0px 8px;
  }
  .partnersAvatarsItem {
    width: 221px;
    height: 100%;
  }
  .partnersAvatarsItem img {
    margin-left: 50px;
  }
  .partnersAvatarsItem .name1,
.partnersAvatarsItem .name2,
.partnersAvatarsItem .name3,
.partnersAvatarsItem .name4 {
    width: 221px;
    height: 18px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
    margin: 15px 0 10px 55px;
  }
  .partnersAvatarsItem .name3 {
    margin: 15px 0 30px 67px;
  }
  .partnersAvatarsItem .name4 {
    margin: 7px 0 12px 43px;
  }
  .partnersAvatarsItem .description1,
.partnersAvatarsItem .description2,
.partnersAvatarsItem .description3,
.partnersAvatarsItem .description4 {
    width: 221px;
    height: 38px;
    font-size: 15px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .partnersAvatarsItem .description4 {
    margin-left: 0px;
  }
  .partnersAvatarsSmall {
    display: grid;
    grid-template-columns: 221px 221px;
    -moz-column-gap: 34px;
         column-gap: 34px;
    row-gap: 53px;
    grid-template-rows: 205px;
    width: 100%;
    height: 205px;
    margin: 0 auto 0px 8px;
  }
  .partnersAvatarsSmallItem {
    width: 221px;
    height: 100%;
  }
  .partnersAvatarsSmallItem img {
    margin-left: 50px;
  }
  .partnersAvatarsSmallItem .name1,
.partnersAvatarsSmallItem .name2,
.partnersAvatarsSmallItem .name3,
.partnersAvatarsSmallItem .name4 {
    width: 221px;
    height: 18px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
    margin: 15px 0 10px 55px;
  }
  .partnersAvatarsSmallItem .name3 {
    margin: 15px 0 30px 67px;
  }
  .partnersAvatarsSmallItem .name4 {
    margin: 7px 0 12px 43px;
  }
  .partnersAvatarsSmallItem .description1,
.partnersAvatarsSmallItem .description2,
.partnersAvatarsSmallItem .description3,
.partnersAvatarsSmallItem .description4 {
    width: 221px;
    height: 38px;
    font-size: 15px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .partnersAvatarsSmallItem .description4 {
    margin-left: 0px;
  }
  .partners button {
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    color: #FF4E50;
  }
  .holiday {
    width: 748px;
    height: 1031px;
    margin: 90px auto 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .holiday h1 {
    width: 418px;
    height: 32px;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin-bottom: 35px;
    padding-left: 66px;
  }
  .holidayIdeas {
    display: flex;
    flex-wrap: wrap;
    gap: 19px 20px;
  }
  .holidayIdeas .holidayIdea1 {
    background-image: url(../images/Object.png);
    width: 236px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea1 p {
    margin-left: 40px;
    width: 151px;
    margin-top: -30px;
  }
  .holidayIdeas .holidayIdea2 {
    background-image: url(../images/Object\ \(1\).png);
    width: 236px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea2 p {
    margin-left: 11px;
  }
  .holidayIdeas .holidayIdea3 {
    background-image: url(../images/Object\ \(2\).png);
    width: 236px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea3 p {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
  }
  .holidayIdeas .holidayIdea4 {
    background-image: url(../images/Object\ \(3\).png);
    width: 236px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea4 p {
    margin: 0 auto;
  }
  .holidayIdeas .holidayIdea5 {
    background-image: url(../images/Object\ \(4\).png);
    width: 492px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea5 p {
    margin: 0 auto;
  }
  .holidayIdeas .holidayIdea6 {
    background-image: url(../images/Object\ \(5\).png);
    width: 492px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea6 p {
    margin: 0 auto;
  }
  .holidayIdeas .holidayIdea7 {
    background-image: url(../images/Object\ \(6\).png);
    width: 236px;
    height: 310px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea7 p {
    margin: 0 auto;
  }
  .search {
    width: 482px;
    height: 167px;
    margin: 95px auto;
  }
  .search h1 {
    width: 357px;
    height: 32px;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin: 0 auto 50px 90px;
  }
  .search p {
    margin: 0 0 15px 103px;
    width: 415px;
    height: 24px;
    font-size: 19px;
    line-height: 14px;
    color: #666666;
  }
  .search .input {
    width: 482px;
    height: 40px;
    display: flex;
    justify-content: space-around;
  }
  .search .input input {
    width: 287px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #999999;
  }
  .search .input button {
    width: 172.12px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  hr {
    width: 100%;
    height: 2px;
    background: #FF4E50;
  }
  .footer {
    width: 768px;
    height: 224px;
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    grid-template-rows: 200px;
    -moz-column-gap: 63px;
         column-gap: 63px;
  }
  .footerGrid .footerTitle {
    width: 119px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
    text-transform: uppercase;
    padding-left: 29px;
  }
  .footerGrid .footerCompany {
    width: 70px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-top: 2px;
    padding-left: 54px;
  }
  .footerGrid .footerCompanyArticle {
    width: 70px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 11px;
  }
  .footerGrid .footerCompanyItems {
    width: 114px;
    height: 156px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }
  .footerGrid .footerPartners {
    width: 64px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-top: 2px;
    padding-left: 21px;
  }
  .footerLogoArticle {
    width: 83px;
    height: 12px;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #CCCCCC;
    padding-left: 30px;
    padding-top: 2px;
  }
  .footerLogo img {
    padding-top: 7px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 350px) {
  .header {
    width: 320px;
    height: 540px;
    background-image: url(../images/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .headerTop {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 8px;
  }
  .headerTop .dreamshare {
    padding-top: 105px;
    text-transform: uppercase;
    padding-left: 88px;
  }
  .headerTop .login {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 76px;
    margin-top: -25px;
  }
  .headerTop .signup {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 140px;
    width: 88px;
    height: 35px;
    background-color: transparent;
  }
  .header h1 {
    width: 272px;
    height: 74px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 27px auto 5px 30px;
    text-transform: uppercase;
  }
  .headerDescription {
    width: 267px;
    height: 49px;
    font-size: 18px;
    line-height: 24px;
    color: #F7F3F2;
    margin: 0 auto 0 50px;
    text-align: center;
  }
  .headerFind {
    width: 282px;
    height: 42px;
    background: #FF4E50;
    border-radius: 40px;
    margin: 15px 30px;
    font-size: 15px;
    line-height: 17px;
  }
  .step {
    width: 300px;
    height: 781px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto;
    flex-wrap: wrap;
  }
  .step h1 {
    width: 289px;
    height: 27px;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    padding-left: 6px;
    align-self: baseline;
  }
  .step .steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 240px;
    justify-content: space-around;
  }
  .step .steps .step1,
.step .steps .step2,
.step .steps .step3 {
    margin-top: 19px;
    width: 300px;
    height: 240px;
  }
  .step .steps .step2,
.step .steps .step3 {
    margin-top: 10px;
  }
  .step .steps .step1 {
    background-image: url(../images/Step\ 1\ image.png);
  }
  .step .steps .step2 {
    background-image: url(../images/Step\ 1\ image\ \(1\).png);
  }
  .step .steps .step3 {
    background-image: url(../images/Step\ 1\ image\ \(2\).png);
  }
  .step .steps .step1p,
.step .steps .step2p,
.step .steps .step3p {
    width: 70px;
    height: 20px;
    background: #FF4E50;
    border-radius: 40px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 2px;
    text-transform: uppercase;
  }
  .step .steps .step1p,
.step .steps .step3p {
    margin: 64px 0px 18px 20px;
  }
  .step .steps .step2p {
    margin: 95px 0px 0px 20px;
  }
  .step .steps .step1Title,
.step .steps .step2Title,
.step .steps .step3Title {
    width: 260px;
    height: 50px;
    font-size: 24px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 4px auto;
    padding-top: 22px;
  }
  .step .steps .step2Title {
    height: 38px;
    font-size: 26px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 4px auto 0px;
    padding-top: 25px;
  }
  .step .steps .step1Description,
.step .steps .step2Description,
.step .steps .step3Description {
    width: 260px;
    height: 57px;
    font-size: 15px;
    line-height: 14px;
    color: #E3E3E3;
    margin: 0px auto;
  }
  .step .steps .step2Description {
    margin: 0px auto;
  }
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 1042px;
  }
  .partners h1 {
    width: 280px;
    height: 54px;
    font-size: 23px;
    line-height: 27px;
    color: #444444;
    margin: 10px auto 15px 9px;
    text-align: center;
  }
  .partnersAvatars {
    display: none;
    grid-template-columns: 221px;
    row-gap: 16px;
    grid-template-rows: 205px;
    width: 100%;
    height: 623px;
    margin: 0 auto 0px 40px;
  }
  .partnersAvatarsItem {
    width: 236px;
    height: 224px;
  }
  .partnersAvatarsItem img {
    margin-left: 50px;
  }
  .partnersAvatarsItem #avatar3 {
    margin-top: -20px;
  }
  .partnersAvatarsItem .name1,
.partnersAvatarsItem .name2,
.partnersAvatarsItem .name3,
.partnersAvatarsItem .name4 {
    width: 221px;
    height: 18px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
    margin: 15px 0 10px 55px;
  }
  .partnersAvatarsItem .name2 {
    margin: 15px 0 11px 55px;
  }
  .partnersAvatarsItem .name3 {
    margin: 15px 0 30px 67px;
  }
  .partnersAvatarsItem .name4 {
    margin: 7px 0 12px 43px;
  }
  .partnersAvatarsItem .description1,
.partnersAvatarsItem .description2,
.partnersAvatarsItem .description3,
.partnersAvatarsItem .description4 {
    width: 221px;
    height: 38px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .partnersAvatarsItem .description4 {
    margin-left: 0px;
  }
  .partnersAvatarsSmall {
    display: grid;
    grid-template-columns: 221px;
    row-gap: 16px;
    grid-template-rows: 205px;
    width: 100%;
    height: 623px;
    margin: 0 auto 0px 40px;
  }
  .partnersAvatarsSmallItem {
    width: 236px;
    height: 224px;
  }
  .partnersAvatarsSmallItem img {
    margin-left: 50px;
  }
  .partnersAvatarsSmallItem #avatar3 {
    margin-top: -20px;
  }
  .partnersAvatarsSmallItem .name1,
.partnersAvatarsSmallItem .name2,
.partnersAvatarsSmallItem .name3,
.partnersAvatarsSmallItem .name4 {
    width: 221px;
    height: 18px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
    margin: 15px 0 10px 55px;
  }
  .partnersAvatarsSmallItem .name2 {
    margin: 15px 0 11px 55px;
  }
  .partnersAvatarsSmallItem .name3 {
    margin: 15px 0 30px 67px;
  }
  .partnersAvatarsSmallItem .name4 {
    margin: 7px 0 12px 43px;
  }
  .partnersAvatarsSmallItem .description1,
.partnersAvatarsSmallItem .description2,
.partnersAvatarsSmallItem .description3,
.partnersAvatarsSmallItem .description4 {
    width: 221px;
    height: 38px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .partnersAvatarsSmallItem .description4 {
    margin-left: 0px;
  }
  .partners button {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    color: #FF4E50;
  }
  .holiday {
    width: 300px;
    height: 1031px;
    margin: 32px auto 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .holiday h1 {
    width: 280px;
    height: 54px;
    font-size: 24px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 35px;
    padding-left: 4px;
    text-align: center;
  }
  .holidayIdeas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0px;
  }
  .holidayIdeas .holidayIdea1 {
    background-image: url(../images/Object.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea1 p {
    margin-left: 82px;
    width: 141px;
    height: 79px;
    margin-top: 0px;
  }
  .holidayIdeas .holidayIdea2 {
    background-image: url(../images/Object\ \(1\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea2 p {
    margin-left: 60px;
    width: 173px;
    height: 54px;
  }
  .holidayIdeas .holidayIdea3 {
    background-image: url(../images/Object\ \(2\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea3 p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 54px;
    margin-left: 39px;
  }
  .holidayIdeas .holidayIdea4 {
    background-image: url(../images/Object\ \(3\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea4 p {
    margin: 0 auto;
    width: 206px;
    height: 24px;
  }
  .holidayIdeas .holidayIdea5 {
    background-image: url(../images/Object\ \(4\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea5 p {
    margin: 0 auto;
    width: 278px;
    height: 24px;
  }
  .holidayIdeas .holidayIdea6 {
    background-image: url(../images/Object\ \(5\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea6 p {
    margin: 0 auto;
    width: 278px;
    height: 24px;
  }
  .holidayIdeas .holidayIdea7 {
    background-image: url(../images/Object\ \(6\).png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .holidayIdeas .holidayIdea7 p {
    margin: 0 auto;
    width: 206px;
    height: 27px;
  }
  .search {
    width: 320px;
    height: 205px;
    margin: 29px auto;
  }
  .search h1 {
    width: 211px;
    text-align: center;
    height: 32px;
    font-size: 23px;
    line-height: 29px;
    color: #444444;
    margin: -38px auto 45px 54px;
  }
  .search p {
    margin: -1px 0 5px 23px;
    width: 285px;
    height: 24px;
    font-size: 19px;
    line-height: 14px;
    color: #666666;
  }
  .search .input {
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    justify-content: space-between;
    margin-top: -1px;
  }
  .search .input input {
    width: 261px;
    font-size: 16px;
    padding-top: 5px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #999999;
    height: 31px;
    padding-left: 13px;
  }
  .search .input button {
    width: 281px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 19px;
    line-height: 17px;
    color: #FFFFFF;
  }
  hr {
    width: 100%;
    height: 2px;
    background: #FF4E50;
  }
  .footer {
    width: 320px;
    height: 224px;
    margin: 18px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: 176px;
    grid-template-rows: 32px 75px 30px;
    -moz-column-gap: 63px;
         column-gap: 63px;
  }
  .footerGrid .footerTitle {
    width: 119px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
    text-transform: uppercase;
    padding-left: 29px;
  }
  .footerGrid .footerCompany {
    width: 70px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-top: 0px;
    padding-left: 54px;
  }
  .footerGrid .footerCompanyArticle {
    width: 70px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 17px;
  }
  .footerGrid .footerCompanyItems {
    display: grid;
    grid-template-columns: 30px 43px 28px 35px;
    grid-template-rows: 15px 0px;
    gap: 10px 20px;
    width: 280px;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    margin: -20px 0px 0px -64px;
  }
  .footerGrid .footerCompanyItems .footerCompanyItem {
    margin: 5px;
  }
  .footerGrid .footerCompanyItems #ItemFour {
    width: 110px;
    margin-left: 21px;
  }
  .footerGrid .footerCompanyItems #ItemHelp {
    margin-left: 98px;
  }
  .footerGrid .footerPartners {
    width: 64px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-top: 0px;
    padding-left: 56px;
  }
  .footerLogoArticle {
    width: 83px;
    height: 12px;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #CCCCCC;
    padding-left: 47px;
    padding-top: 3px;
  }
  .footerLogo img {
    padding-top: 7px;
    padding-left: 34px;
  }
}/*# sourceMappingURL=style.css.map */